<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1071862944303-en9s8m3i9gcim99gtgrkff45g8f9pplo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071862944303-en9s8m3i9gcim99gtgrkff45g8f9pplo</string>
	<key>API_KEY</key>
	<string>AIzaSyBtCcjsKkj0Jl-63VAuxSaZhqzwadF80jE</string>
	<key>GCM_SENDER_ID</key>
	<string>1071862944303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xyclos.-zero</string>
	<key>PROJECT_ID</key>
	<string>project-4585972374227661561</string>
	<key>STORAGE_BUCKET</key>
	<string>project-4585972374227661561.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071862944303:ios:4583ad9e1cbd511d</string>
	<key>DATABASE_URL</key>
	<string>https://project-4585972374227661561.firebaseio.com</string>
</dict>
</plist>